{% extends "client/index.html" %}
{% load static %}
{% block content %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                                 <div class="col-lg-10">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Client</strong> detail
                                    </div>
                                    <div class="card-body card-block">
                                        <form action="/cli_profileupdate/" method="post" enctype="multipart/form-data" class="form-horizontal">
                                         {% csrf_token %}
                                          <div class="row form-group">
                                                <center>
                                                <div class="col col-md-3">
                                                        <label for="files" style="cursor: pointer;">
                                                        <div class="image" style="padding-top: 20px;padding-bottom: 20px;">
                                                            
                                                                <img src="/static{{ dev.profile_pic.url }}" for="files" alt="John Doe" style="-webkit-transform:rotate(-90deg);
                                                                -moz-transform: rotate(-90deg);
                                                                -ms-transform: rotate(-90deg);
                                                                -o-transform: rotate(-90deg);
                                                                transform: rotate(-90deg); border: black;border-style: solid;
                                                                "/>
                                                            
                                                        </div></label>
                                                        <input type="file" name="profile" id="files" style="
                                                       display: none;">
                                                    </div></center>  
                                                <div class="col-12 col-md-9">
                                                        {% if devread.profile %}
                                                        <img src="{{devread.profile.url}}" height="30%" width="30%"/>
                                                        {% endif %}
                                                        
                                                </div>
                                             </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label">Username</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="text-input" name="username" disabled="" placeholder="Text" class="form-control" value="{{ devread.username }}">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">full_name</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="text-input" name="fullname" placeholder="Text" class="form-control" value="{{ devread.full_name }}">
                                                    <small class="form-text text-muted">Enter your full_name</small>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="email-input" class=" form-control-label">Email</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="email" id="email" name="email" placeholder="Enter Email" class="form-control" value="{{devread.email}}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 3}$" title="Must contain at least one @ and one . in email for ex.saiyedmunaf110@gmail.com" required>
                                                    <small class="help-block form-text">Please enter your email</small>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="password-input" class=" form-control-label">Password</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="password" id="password-input" name="password" placeholder="Password" class="form-control" value="{{ devread.password }}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                                                    <small class="help-block form-text">Please enter a complex password</small>
                                                </div>
                                            </div>
                                           
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="textarea-input" class=" form-control-label">Address</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input name="address" id="textarea-input" rows="9" placeholder="Content..." class="form-control" value={{devread.addresh}}>
                                                </div>
                                            </div>
                                            
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label class=" form-control-label" >Gender</label>
                                                </div>
                                                <div class="col col-md-9">
                                                    <div class="form-check">
                                                        <div class="radio">
                                                            <label for="Female" class="form-check-label ">
                                                                <input type="radio" id="radio1" name="male" value="option1" class="form-check-input">Male
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label for="radio2" class="form-check-label ">
                                                                <input type="radio" id="radio2" name="female" value="option2" class="form-check-input">Female
                                                            </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label for="radio3" class="form-check-label ">
                                                                <input type="radio" id="radio3" name="other" value="option3" class="form-check-input">Other
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">DateOfBirth</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="date" id="text-input" name="dob" placeholder="Birthdate" class="form-control" value="{{ devread.dob }}" min="2000-01-02" max="1979-12-31">
                                                    <small class="form-text text-muted">Enter your Birthdate</small>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Contactno.</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="text-input" name="contact" placeholder="Contactno" class="form-control" value={{devread.contact}}>
                                                    <small class="form-text text-muted">Enter your Contactno</small>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">City</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="text-input" name="city" placeholder="City" class="form-control" value={{devread.city}}>
                                                    <small class="form-text text-muted">Enter City</small>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Country</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="text-input" name="country" placeholder="country" class="form-control" value={{devread.country}}>
                                                    <small class="form-text text-muted">Enter country</small>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="text-input" class=" form-control-label">Pincode</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="text-input" name="pincode" placeholder="Pincode" class="form-control" value={{devread.pincode}}>
                                                    <small class="form-text text-muted">Enter pincode</small>
                                                </div>
                                            </div>
                                            
                                            
                                           
                                            
                                            <div class="card-footer">
                                        <input type="submit" class="btn btn-primary btn-sm" value="Update">
                                        
                                    </div> 
                                        </form>
                                    </div>
                                   
                                </div>
                                    <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2019 UPH. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}