{% extends 'forget/password_reset_form.html' %}
{% load static %}
{% block content %}
                        <div class="login-form">
                            <form action="" method="post">
                              <div class="form-group">
                                    <label>Email Address</label>
                              </div>
                              
                                <p>
                                  Your password has been set. You may go ahead and <a href="">sign in</a> now.
                                </p>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
<!-- end document-->
{% endblock %}