{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Digital Business Category Flat Bootstrap Responsive Web Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Digital Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
	
	<!-- css files -->
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->
	
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
	<!-- //google fonts -->
	
</head>
<body>


<!-- //header -->
<header class="py-4">
	<div class="container">
			<div id="logo">
				<h1> <a href="/index/"><span class="fa fa-cloud" aria-hidden="true"></span> UPH</a></h1>
			</div>
		<!-- nav -->
		<nav class="d-lg-flex">

			<label for="drop" class="toggle"><span class="fa fa-bars" aria-hidden="true"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu mt-2 ml-auto">
				<li class=""><a href="/index/">Home</a></li>
				
				<li class=""><a href="/team/">Team Page</a></li>
				<li class=""><a href="/contact/">Contact Page</a></li>
			</ul>
			{% block logdas %}
			{% if request.session.username %}
			<div class="login-icon ml-lg-2">
					<a class="user" href="/cli_dashboard/"> Dashboard</a>
			</div>
			{% else %}
			<div class="login-icon ml-lg-2">
				<a class="user" href="#popup5"> Login</a>
			</div>
			<div class="login-icon ml-lg-2">
				<a class="user" href="/admin_login/"> Admin</a>
			</div>
			{% endif %}
			{% endblock %}
		</nav>
		<div class="clear"></div>
		<!-- //nav -->
	</div>
</header>
<!-- //header -->
		{% block content %}
<!-- banner -->
<div class="banner" id="home">
	<div class="container">
		<div class="row banner-text">
			<div class="slider-info col-lg-6">
				<div class="banner-info-grid mt-lg-5">
					<h2>Welcome To Ultra Project's Hub </h2>
					<p>Our site perform the task of developing a web application that enable the client to develop their all type of IT projects under our best developer at our site.</p>
				</div>
				<!--<a class="btn mr-2 text-capitalize" href="#popup1">read more </a>
				<a class="btn text-capitalize" href="#popup2">watch video </a>-->
			</div>
			<div class="col-lg-6 col-md-8 mt-lg-0 mt-sm-5 mt-3 banner-image text-lg-center">
				<img src="{% static 'images/bannerpng.png' %}" alt="" class="img-fluid"/>
			</div>
		</div>
	</div>
</div>
<!-- //banner -->

<!-- about -->
<section class="about py-5" id="about">
	<div class="container py-lg-5 py-sm-3">
		<div class="row">
			<div class="col-lg-3 about-left">	
				<h3 class="heading mb-lg-5 mb-4">About us</h3>
			</div>
			<div class="col-lg-5 col-md-7 about-text">
				<h3>Welcome To Our Ultra Project's Hub </h3>
				<p class="mt-3">We give online service to clients for makeing their projects at online platform and we also have profesional Registered Developers at our site so through this site we give best result and we give client satisfaction.</p>
			</div> 
			<div class="col-lg-4 col-md-5 about-img">
				<img src="{% static 'images/1.png' %}" alt="" class="img-fluid"/>
			</div>
		</div>
	</div>
</section>
<!-- //about -->

<!-- why choose us -->
<section class="choose py-5" id="services">
	<div class="container py-md-3">
		<h3 class="heading mb-5"> What we provide</h3>
		<div class="feature-grids row">
			<div class="col-lg-3 col-sm-6">
				<div class="f1 icon1 p-4">
					<div class="icon">
						<span class="fa fa-bandcamp"></span>
					</div>
					<h3 class="my-3">Web Applications</h3>
					<p>We provide best web application project in better price.</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
				<div class="f1 icon2 p-4">
					<div class="icon">
						<span class="fa fa-codepen"></span>
					</div>
					<h3 class="my-3">Mobile App</h3>
					<p>We provide Mobile apps like in android and ios and we make that app at optimum level.</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
				<div class="f1 icon3 p-4">
					<div class="icon">
						<span class="fa fa-btc"></span>
					</div>
					<h3 class="my-3">Artificial Inteligency</h3>
					<p>We also Develop the AI project's like robotics and automations.</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
				<div class="f1 icon4 p-4">
					<div class="icon">
						<span class="fa fa-cloud"></span>
					</div>
					<h3 class="my-3">Data Analysis</h3>
					<p>We also Provide bigdata Data analysis to predict values and results.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //why choose us -->





<!-- portfolio -->
<section class="portfolio py-5" id="portfolio">
	<div class="container py-3">
		<h3 class="heading text-capitalize mb-md-5 mb-4">Our Portfolio <span></span></h3>
		<div class="row news-grids text-center">
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal1"><img src="{% static 'images/g1.jpg' %}" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal2"><img src="{% static 'images/g2.jpg' %}" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal3"><img src="{% static 'images/g3.jpg' %}" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal4"><img src="{% static 'images/g4.jpg' %}" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal5"><img src="{% static 'images/g5.jpg' %}" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal6"><img src="{% static 'images/g6.jpg' %}" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal7"><img src="{% static 'images/g7.jpg' %}" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal8"><img src="{% static 'images/g8.jpg' %}" alt="portfolio image" class="img-fluid"></a>
			</div>
		</div>
		<!-- portfolio popups -->
			<!-- popup-->
			<div id="gal1" class="pop-overlay animate">
				<div class="popup">
					<img src="{% static 'images/g1.jpg' %}" alt="Popup Image" class="img-fluid" />
					<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
					<a class="close" href="#portfolio">&times;</a>
				</div>
			</div>
			<!-- //popup -->
			<!-- popup-->
			<div id="gal2" class="pop-overlay animate">
				<div class="popup">
					<img src="{% static 'images/g2.jpg' %}" alt="Popup Image" class="img-fluid" />
					<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
					<a class="close" href="#portfolio">&times;</a>
				</div>
			</div>
			<!-- //popup -->
			<!-- popup-->
			<div id="gal3" class="pop-overlay animate">
				<div class="popup">
					<img src="{% static 'images/g3.jpg' %}" alt="Popup Image" class="img-fluid" />
					<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
					<a class="close" href="#portfolio">&times;</a>
				</div>
			</div>
			<!-- //popup3 -->
			<!-- popup-->
			<div id="gal4" class="pop-overlay animate">
				<div class="popup">
					<img src="{% static 'images/g4.jpg' %}" alt="Popup Image" class="img-fluid" />
					<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
					<a class="close" href="#portfolio">&times;</a>
				</div>
			</div>
			<!-- //popup -->
			<!-- popup-->
			<div id="gal5" class="pop-overlay animate">
				<div class="popup">
					<img src="{% static 'images/g5.jpg' %}" alt="Popup Image" class="img-fluid" />
					<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
					<a class="close" href="#portfolio">&times;</a>
				</div>
			</div>
			<!-- //popup -->
			<!-- popup-->
			<div id="gal6" class="pop-overlay animate">
				<div class="popup">
					<img src="{% static 'images/g6.jpg' %}" alt="Popup Image" class="img-fluid" />
					<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
					<a class="close" href="#portfolio">&times;</a>
				</div>
			</div>
			<!-- //popup -->
			<!-- popup-->
			<div id="gal7" class="pop-overlay animate">
				<div class="popup">
					<img src="{% static 'images/g7.jpg' %}" alt="Popup Image" class="img-fluid" />
					<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
					<a class="close" href="#portfolio">&times;</a>
				</div>
			</div>
			<!-- //popup -->
			<!-- popup-->
			<div id="gal8" class="pop-overlay animate">
				<div class="popup">
					<img src="{% static 'images/g8.jpg' %}" alt="Popup Image" class="img-fluid" />
					<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
					<a class="close" href="#portfolio">&times;</a>
				</div>
			</div>
			<!-- //popup -->
			<!-- //portfolio popups -->
	</div>
</section>
<!-- //Projects -->

	
<!--/Partners-->
<section class="partners py-5" id="partners">
	<div class="container py-md-3">
		<h3 class="heading mb-5">Our Marketing Partners</h3>
		<div class="inner-sec-w3ls">
			<div class="sponsers-icon text-center">
				<ul class="list-unstyled partners-icon row">
					<li class="col-md-2 col-4">
						<span class="fa fa-codepen" aria-hidden="true"></span>
					</li>
					<li class="col-md-2 col-4 border-left border-right">
						<span class="fa fa-lastfm" aria-hidden="true"></span>
					</li>
					<li class="col-md-2 col-4 border-right">
						<span class="fa fa-codiepie" aria-hidden="true"></span>
					</li>
					<li class="col-md-2 col-4 border-right mt-md-0 mt-3">
						<span class="fa fa-drupal" aria-hidden="true"></span>
					</li>
					<li class="col-md-2 col-4 border-right mt-md-0 mt-3">
						<span class="fa fa-dashcube" aria-hidden="true"></span>
					</li>
					<li class="col-md-2 col-4 mt-md-0 mt-3">
						<span class="fa fa-skyatlas" aria-hidden="true"></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- //Partners -->
{% endblock %}
<!-- footer -->
<footer class="footer-emp-w3ls py-5">
	<div class="container pt-lg-3">
		<div class="row footer-top">
			<div class="col-lg-4 col-sm-6 footer-grid-wthree">
				<h4 class="footer-title text-uppercase mb-4">Who We Are</h4>
				<div class="contact-info">
					<p>Our site perform the task of developing a web application that enable the client to develop their all type of IT projects under our best developer at our site.</p>
					<h4 class="mt-3">Trusted by more than 1000+ Clients</h4>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 footer-grid-wthree mt-sm-0 mt-4">
				<h3 class="footer-title text-uppercase mb-4">Latest News</h3>
				<div class="contact-info">
					<div class="footer-style-w3ls">
						<h4 class="mb-2"><span class="fa mr-1 fa-twitter"></span> Recuritments</h4>
						<p>We were anouncing recuritments for our future office</p>
						<p class="date">23 Nov 2019.</p>
					</div>
					
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 footer-grid-wthree mt-lg-0 mt-sm-5 mt-4">
				<h3 class="footer-title text-uppercase mb-4">Contact Us</h3>
				<div class="contact-info">
					<div class="footer-style-w3ls">
						<h4 class="mb-2"> <span class="fa mr-1 fa-map-marker"></span> Location</h4>
						<p>SG Highway, Ahmedabad, Gujarat, India.</p>
					</div>
					<div class="footer-style-w3ls my-3">
						<h4 class="mb-2"><span class="fa mr-1 fa-phone"></span> Phone</h4>
						<p>+91 00 0000 0000</p>
					</div>
					<div class="footer-style-w3ls">
						<h4 class="mb-2"><span class="fa mr-1 fa-envelope-open"></span> Email</h4>
						<p><a href="mailto:ultraprojectshub@gmail.com">ultraprojectshub@gmail.com</a></p>
					</div>
				</div>
			</div>
		<!--	<div class="col-lg-2 col-sm-6 footer-grid-wthree mt-lg-0 mt-sm-5 mt-4">
				<h3 class="footer-title text-uppercase mb-4">Quick Links</h3>
				<ul class="links list-unstyled">
					<li>
						<a class="" href="#home"> Home</a>
					</li>
					<li>
						<a class="" href="#about"> About Us</a>
					</li>
					<li>
						<a class="" href="#services"> Services</a>
					</li>
					<li>
						<a class="" href="#process">Process</a>
					</li>
					<li>
						<a class="" href="#portfolio">Portfolio</a>
					</li>
					<li>
						<a class="" href="contact.html">Contact us</a>
					</li>
				</ul>
			</div>-->
		</div>
	</div>
</footer>
<!-- //footer -->

<!-- copyright -->
<div class="copy-right-top border-top">
	<p class="copy-right text-center py-4">&copy; 2019 UPH. All Rights Reserved | Design by UPH
	</p>
</div>
<!-- //copyright -->	
	
<!-- move top -->
<div class="move-top text-right">
	<a href="#home" class="move-top"> 
		<span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
	</a>
</div>
<!-- move top -->

<!-- popup -->
<div id="popup1" class="popup-effect">
	<div class="popup">
		<img src="images/banner.png" alt="Popup Image" class="img-fluid" />
		<p class="mt-4 ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
			laudantium, totam rem aperiam, eaque ipsa quae ab illo quasi architecto beatae vitae dicta
			sunt explicabo.</p>
		<a class="close" href="#">&times;</a>
	</div>
</div>
<!-- //popup -->

<!-- popup -->
<div id="popup2" class="popup-effect">
	<div class="popup">
		<iframe src="https://player.vimeo.com/video/188673754"></iframe>
		<p class="mt-4 ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
			laudantium, totam rem aperiam, eaque ipsa quae ab illo quasi architecto beatae vitae dicta
			sunt explicabo.</p>
		<a class="close" href="#">&times;</a>
	</div>
</div>
<!-- //popup -->

<!-- popup for login client-->
<div id="popup3" class="popup-effect">
	<div class="popup">
		<div class="login px-sm-4 mx-auto mw-100">
			<h5 class="text-center mb-4">Login to UPH as Client</h5>
			<form action="/loginc/" method="post">
				{% csrf_token %}
				<div class="form-group">
					<label class="mb-2">Email address</label>
					<input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 3}$" title="Must contain at least one @ and one . in email for ex.saiyedmunaf110@gmail.com" required>
					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>
				<div class="form-group">
					<label class="mb-2">Password</label>
					<input name="login_pass" type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
				</div>
				<button type="submit" class="btn btn-primary submit mt-2" >Login</button>
				<p class="text-left mt-2">
					<a href="#popup4"> Don't have an account?</a>
				</p>
				<p class="text-left">
					<a href="/cli_fp/">Forget Password</a>
				</p>
			</form>
		</div>

		<a class="close" href="#">&times;</a>
	</div>
</div>
<!-- //popup for login client-->
<!-- popup for register client-->
<div id="popup4" class="popup-effect">
	<div class="popup">
		<div class="login px-sm-4 mx-auto mw-100">
			<h5 class="text-center mb-4">Register As Client Now</h5>
			<form action="/cregistrationform/" method="post">
				{% csrf_token %}
				<div class="form-group">
					<label>Full Name</label>
					<input name="full_name" type="text" class="form-control" id="validationDefault01" placeholder="" required="">
				</div>
				<div class="form-group">
					<label>Email Address</label>
					<input name="email" type="email" class="form-control" id="validationDefault02" placeholder="" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 3}$" title="Must contain at least one @ and one . in email for ex.saiyedmunaf110@gmail.com" required>
				</div>
				<div class="form-group">
					<label class="mb-2">Password</label>
					<input name="password" type="password" class="form-control" id="password1" placeholder="" required="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
				</div>
				<div class="form-group">
					<label>Confirm Password</label>
					<input name="conpass" type="password" class="form-control" id="password2" placeholder="" required="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
				</div>
				<a href="#popup5">
				<button type="submit" class="btn btn-primary submit">Register</button>
			
				<p class="text-center mt-3">
					<a href="#">By clicking Register, I agree to your terms</a>
				</p>
			</a>
			</form>
		</div>
		<a class="close" href="#">&times;</a>
	</div>
</div>
<!-- //popup for register client-->
<!-- popup for register developer-->
<div id="popup7" class="popup-effect">
	<div class="popup">
		<div class="login px-sm-4 mx-auto mw-100">
			<h5 class="text-center mb-4">Register As Developer Now</h5>
			<form action="/dregistrationform/" method="post">
				{% csrf_token %}
				<div class="form-group">
					<label>Full Name</label>
					<input name="full_name" type="text" class="form-control" id="validationDefault01" placeholder="" required="">
				</div>
				<div class="form-group">
					<label>Email Address</label>
					<input name="email" type="email" class="form-control" id="validationDefault02" placeholder="" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 3}$" title="Must contain at least one @ and one . in email for ex.saiyedmunaf110@gmail.com" required>
				</div>
				<div class="form-group">
					<label class="mb-2">Password</label>
					<input name="password" type="password" class="form-control" id="password1" placeholder="" required="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
				</div>
				<div class="form-group">
					<label>Confirm Password</label>
					<input name="conpass" type="password" class="form-control" id="password2" placeholder="" required="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
				</div>
				<a href="#popup5">
				<button type="submit" class="btn btn-primary submit">Register</button>
			
				<p class="text-center mt-3">
					<a href="#">By clicking Register, I agree to your terms</a>
				</p>
			</a>
			</form>
		</div>
		<a class="close" href="#">&times;</a>
	</div>
</div>
<!-- //popup for register developer-->
<!-- popup for choose client/employee -->
<div id="popup5" class="popup-effect">
	<div class="popup">
		<div class="login px-sm-4 mx-auto mw-100">
			<h5 class="text-center mb-4">You Want Login Ultra Project Hub As</h5>
			
				
				<div class="text-center mb-4">
				
			<a href="#popup3">	<button type="submit" class="btn btn-primary submit" style="margin:10px; " >Client</button>
			</a>
			<a href="#popup6">	<button type="submit" class="btn btn-primary submit" style="margin:10px;" >Developer</button>
			</a>
			</div>	
			
		</div>
		<a class="close" href="#">&times;</a>
	</div>
</div>
<!-- //popup for choose client/employee -->	
<!-- popup for login developer-->
<div id="popup6" class="popup-effect">
	<div class="popup">
		<div class="login px-sm-4 mx-auto mw-100">
			<h5 class="text-center mb-4">Login to UPH as Developer</h5>
			<form action="/logindev/" method="post">
				{% csrf_token %}
				<div class="form-group">
					<label class="mb-2">Email address</label>
					<input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 3}$" title="Must contain at least one @ and one . in email for ex.saiyedmunaf110@gmail.com" required>
					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>
				<div class="form-group">
					<label class="mb-2">Password</label>
					<input name="login_pass" type="password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
				</div>
				<button type="submit" class="btn btn-primary submit mt-2" >Login</button>
				<p class="text-left mt-2">
					<a href="#popup7"> Don't have an account?</a>
				</p>
				<p class="text-left">
					<a href="/dev_fp/">Forget Password</a>
				</p>
			</form>
		</div>

		<a class="close" href="#">&times;</a>
	</div>
</div>
<!-- //popup for login developer-->
</body>
</html>